<h2>About c-learning</h2>
<p>
<a href="http://tloks.com/cgi-bin/gitweb.cgi?p=c-learning.git;a=summary">This repository</a>
exists to track my progress in learning the C programming language, from 
a variety of online and offline sources.

<p>
This repository is also available as just a standard web directory in my 
<a href="http://tloks.com/~anton/c-learning/">user home dir</a>,
in case browing it that way is easier for some people.

<hr>
<address>
<a href="http://tloks.com/~anton/">Anton McClure</a>
/
<a href="http://tloks.com/~anton/contact.html">anton@tloks.com</a>
/
<a href="http://tloks.com/">tloks.com</a>
</address>
